@charset 'utf-8';
@import url(//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,300,400,700);
$family-primary: 'Open Sans';
@import '~bulma/bulma';

html,
body {
  background-color: #F1F4F9;
  height: 100%;
  display: flex;
  justify-content: center;
  width: 100%;
}

#root {
  width: 100%;
}

.main-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;  
  
  -webkit-flex-flow: column;
  flex-flow: column;    
  text-align: center;
  align-items: center; 
}

.main-container > * {
  padding: 10px;
  flex: 1 100%;
}

.header {
  background: #2687E9;
  text-align: left;
  width: 75%;
}

.toolbar {  
  width: 70%;
  display: flex;
  justify-content: space-between;
}

.modal-buttons {  
  display: flex;
  justify-content: space-between;
}

.car-list {  
  width: 70%;
  min-height: 290px;
}

.car-list-item:hover td {
  background-color: #D8E9FB;
  border-color: #8BC8F6;
  cursor: pointer;
}

.modal-header {
  display: flex;
  justify-content: space-between;
}

.modal-card-head {
  background-color: #F8FAFC;
}

select,
.select
{
  width: 100%;
}

.car-item-buttons {
  display: flex;
  justify-content: space-between;
}

.table-header {
  background: #F8FAFC;
}

.table {
  margin-bottom: 0px;
}

.table tr {
  border: 1px solid #dbdbdb;
}

.table tbody {
  line-height: 2.8;
}

.table thead {
  line-height: 2;
}

.table thead td, 
.table thead th {
  border-width: 0px;
}

a {
  color: #3A92EB;
}

button {
  font-family: $family-primary;
}

.button.is-medium,
.input.is-medium {
  font-size: 1.10rem;
}

.pagination-link.is-current {
  background-color: #D8E9FB;
  border-color: #8BC8F6;
  color: black;
}

.modal-card-head > * {
  margin-right: 10px;
}