@charset 'utf-8';
@import '../../node_modules/bulma/bulma';

$main-bg-color: #f6f6f6;
$accent-blue: #37bbe4;
$accent-gray: #e1e0dd;
$accent-black: #35342f;
$accent-red: #dd6464;

$color-green: #07630b;
$color-red: #960c0c;
$color-blue: #04459a;

$border-color: #c4c0c0;
$shadow-color: #f0f0f7;

html,
body {
  background-color: $main-bg-color;
  height: 100%;
}

.main-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;  
  
  -webkit-flex-flow: column;
  flex-flow: column;    
  text-align: center;
  align-items: center; 
  height: 100%;
}

.main-container > * {
  padding: 10px;
  flex: 1 100%;
}

.header {
  background: deepskyblue;
  text-align: left;
  width: 85%;
}

.toolbar {  
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.car-list {  
  width: 80%;
  min-height: 250px;
}

.modal-header {
  display: flex;
  justify-content: space-between;
}

select,
.select
{
  width: 100%;
}

.car-item-buttons {
  display: flex;
  justify-content: space-between;
}
