@charset 'utf-8';
@import '~bulma/bulma';

html,
body {
  background-color: #F1F4F9;
  height: 100%;
  display: flex;
  justify-content: center;
  width: 100%;
}

#root {
  width: 100%;
}

.main-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;  
  
  -webkit-flex-flow: column;
  flex-flow: column;    
  text-align: center;
  align-items: center; 
}

.main-container > * {
  padding: 10px;
  flex: 1 100%;
}

.header {
  background: #2687E9;
  text-align: left;
  width: 75%;
}

.toolbar {  
  width: 70%;
  display: flex;
  justify-content: space-between;
}

.car-list {  
  width: 70%;
  min-height: 250px;
}

.car-list-item:hover > td {
  background-color: #D8E9FB;
  cursor: pointer;
}

.modal-header {
  display: flex;
  justify-content: space-between;
}

select,
.select
{
  width: 100%;
}

.car-item-buttons {
  display: flex;
  justify-content: space-between;
}

.table-header {
  background: #F8FAFC;
}